<!-- <h3>Prijava</h3> 
Korisnicko ime: <input type="text" name="username" [(ngModel)]="username"> <br>
Lozinka: <input type="password" name="password" [(ngModel)]="password"><br>
<button (click)="login()">Prijavi</button> <br>
{{messageL}}  -->

<header>Admin Login</header>

<main>
  <h3>Prijava</h3>
  Korisnicko ime: <input type="text" name="username" [(ngModel)]="username"> <br>
  Lozinka: <input type="password" name="password" [(ngModel)]="password"><br>
  <button (click)="login()">Prijavi</button> <br>
  <span>{{messageL}}</span>
</main>

<footer>
  © 2025 Milan Gavric
</footer>