<!-- <h3>Opste informacije</h3>

Broj vikendica: {{brojVikendica}} <br>
Broj vlasnika: {{brojVlasnika}} <br>
Broj turista: {{brojTurista}} <br>
Broj rezervisanih vikendica u poslednjih 24 sata: {{brojRezDan}} <br>
Broj rezervisanih vikendica u poslednjih 7 dana: {{brojRezNed}} <br>
Broj rezervisanih vikendica u poslednjih 30 dana: {{brojRezMes}} <br>

<app-vikendice></app-vikendice> -->





<main class="neregistrovani-wrapper">
  <h3>Opšte informacije</h3>

  <div class="info-cards">
    <div class="info-card">Broj vikendica: <span>{{brojVikendica}}</span></div>
    <div class="info-card">Broj vlasnika: <span>{{brojVlasnika}}</span></div>
    <div class="info-card">Broj turista: <span>{{brojTurista}}</span></div>
    <div class="info-card">Rezervacije poslednjih 24h: <span>{{brojRezDan}}</span></div>
    <div class="info-card">Rezervacije poslednjih 7 dana: <span>{{brojRezNed}}</span></div>
    <div class="info-card">Rezervacije poslednjih 30 dana: <span>{{brojRezMes}}</span></div>
  </div>

  <app-vikendice></app-vikendice>
</main>

